<div class="row mt-2">
  @if ( currentView == "List" ) {
  <!-- Project Employee List -->

  <div class="col-12">
    <div class="card">
      <div class="card-header" style="background-color: blanchedalmond">
        <div class="row">
          <div class="col-6 text-black"><strong>Project Employees</strong></div>
        </div>
      </div>
      <div class="card-body">
        <app-my-table
          [columnArray]="columnList"
          [gridData]="projectEmployeeList"
          (onEditClicked)="onEdit()"
          (onDeleteClicked)="onDelete($event)"
        ></app-my-table>
      </div>
    </div>
  </div>
  } @else {
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="background-color: blanchedalmond">
        <div class="row">
          <div class="col-6 text-black">
            <strong>Project Employees Edit</strong>
          </div>
        </div>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  }
</div>
