<table class="table table-bordered">
  <thead>
    <tr>
      <th style="display: flex; justify-content: center">Id</th>
      @for (item of columnArray; track $index) {
      <th>{{ item.headerName }}</th>
      }
      <th style="display: flex; justify-content: center">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of gridData; track $index) {
    <tr>
      <td style="display: flex; justify-content: center">{{ $index + 1 }}</td>
      @for (columnName of columnArray; track $index) {
        @if (columnName.dataType == 'date') {
      <td>{{ item[columnName.fieldId] | date: columnName.format || 'dd-MM-yyyy' }}</td>
        } @else {
      <td>{{ item[columnName.fieldId] }}</td>
        }
      }
      <td style="display: flex; justify-content: center">
        <button class="btn btn-primary btn-sm" (click)="onEditClick(item)">
          Edit
        </button>
        <button
          class="btn btn-danger btn-sm"
          style="margin-left: 5px"
          (click)="onDeleteClick(item)"
        >
          Delete
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
